.main {
    background-color: #FFF;
    ul {
        list-style-position: inside;
        list-style-type: none;
    }
    .searchComponents {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
        
    }
    .weatherComponents {
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }
}
